{% extends 'core/base.html'%}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
{% block contenido %}
{% if user.is_authenticated %}
<div class="container card col-md-6 offset-md-3 "> 
        
<h1>Domicilios</h1> 
<div class="p-2 flex-grow-1">Direcciones</div> 
    <div class="d-flex">
        
        
        <table class="table table-striped">
            <tr>
                 
                <th>Nombre</th>
                <th>Rut</th>
                <th>Numero</th>
                <th>Calle</th>
                <th>Ciudad</th>
                <th>Comuna</th>
                
                <th>Opciones</th>
                <th></th>
                <th></th>
            </tr>
            
            {% for di in direcciones %}
                <tr>
                    
                    <td>{{di.Nombre}}</td>    
                    <td>{{di.Rut}}</td>  
                    <td>{{di.Numero}}</td>  
                    <td>{{di.calle}}</td>  
                    <td>{{di.ciudad}}</td>  
                    <td>{{di.comuna}}</td>         
                
                    <td> <a href="{% url 'modificar-direccion' di.id %}" class="btn btn-warning btn-sm ">Modificar</a></td>
                    <td><a href="{% url 'eliminar-direccion' di.id %} " class="btn btn-danger btn-sm">Eliminar</a></td>
                </tr>
                {% endfor %}
            
        </table>
        
        
    </div>
    <div class="p-2">
        <a class="btn btn-success btn-sm justify-content-end" href="{% url 'agregar-direccion'%}">Agregar</a>
    </div>

</div>
<div class="container col-md-6 offset-md-3 "> 
    <div class="p-2">
        <a class="btn btn-warning btn-sm " href="{% url 'listar-direccion'%}">Mis domicilios</a>
    </div>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endif %}


{% endblock %}