{% extends 'core/base.html'%}
{%block contenido%}
{% load humanize %}
{% load static %}



<body>
    <div class="container mt-5">
        
        <div class="row mb-3">
            <div class="col-md-6">
                <!-- Filtro por categoría -->
                <select id="filtroCategoria" class="form-select">
                    <option value="">Todas las categorías</option>
                    <option value="Shooter">Shooter</option>
                    <option value="Acción/Aventura">Acción/Aventura</option>
                    <option value="Aventura">Aventura</option>
                    <option value="Plataformas">Plataformas</option>
                    <option value="RPG">RPG</option>
                    <option value="Simulación">Simulación</option>
                    <option value="Realidad Virtual">Realidad Virtual</option>
                </select>
            </div>
            <div class="col-md-6">
                <!-- Búsqueda por nombre -->
                <input id="busquedaNombre" type="text" class="form-control" placeholder="Buscar por nombre...">
            </div>
        </div>

        <div class="row" id="productos-container">
            <!-- Aquí se agregarán dinámicamente los productos -->
        </div>

        <!--START PAGINADOR -->
        <nav aria-label="Page navigation example">
            <ul id="pagination" class="pagination justify-content-center"></ul>
        </nav>
        <!-- END PAGINADOR -->

    </div>





</body>



{%endblock%}